body {
  overflow-x: hidden;
  margin: 0px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
}
.search {
  padding: 12px 44px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 3px #d3fbea;
  border-end-start-radius: 5px;
  border-top-left-radius: 5px;
  border: solid 2px #676767;
  border-right: none;
}
button {
  background: #d3fbea;
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  border: solid 2px #676767;
  padding: 3px;
  cursor: pointer;
}
.items {
  display: flex;
}
.icon {
  width: 35px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
h1, h2, ul, p {
  font-family: 'Open Sans', sans-serif;
  color: #363636;
}
.label {
  margin-top: 40px;
}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
li {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em .5em;
  background:#d3fbea;
  font-size: 20px;
  border-radius: 5px;
}
li:hover {
  background:  #e4d8f9;
}
.tasty {
  background: #fff;
  border:2px solid #575756;
  padding: 10px;
  border-radius: 50%;
}
.icon2 {
  width: 22px;
}
.parent {
  display: flex;
  justify-content: center;
  margin-left: 50%;
}
.par {
  background: #dac8f7;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
@media all and (max-width:670px) {
  .parent {
    margin-left: 0%;
    justify-content: baseline;
  }
  .list {
    justify-content: flex-end;
    margin: 15px;
  }
  .App {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .label {
    margin: 20px;
  }
}